[submodule "applications/luci-app-kcptun"]
	path = applications/luci-app-kcptun
	url = https://github.com/kuoruan/luci-app-kcptun.git
[submodule "applications/luci-app-shadowsocks"]
	path = applications/luci-app-shadowsocks
	url = https://github.com/kuoruan/luci-app-shadowsocks.git
